<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:rgb(187, 182, 255);
        }
        form button{
            background-color: rgb(80, 255, 80);
            padding:7px;
            border:none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Logged Out.....</h1>
    <form action="/api/user/home" method="get">
        <button type="submit">Back To Home</button>
    </form>
  
</body>
</html>